@import '../../../Theme/Theme.scss' ;
.outer-div{
    background-color:$primaryColor ;
    width: 95%;
    height: 550px;
    margin: auto;
    border-radius: 15px;
    overflow-y: scroll;

}
.outer-div::-webkit-scrollbar{
    display: none;
}
.itemCount{
    width: 20%;
    margin: auto;
}
.itemCountLabel{
    color: $ternaryColor;
    font-size: 20px;
    
}

    
.upper-content-div{
    height: 170px;
  
}
.next-button{
    margin-top: 15px;
    background-color: $secondaryColor;
    color: $ternaryColor;
    width: 150px;
    border: none;
}
.next-button:hover,.next-button:focus,.next-button:active,.next-button.active{
    background-color:$ternaryColor;
    color: $secondaryColor;
}
.add-item{
    width: 80%;
    margin: auto;
}
